/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu::before {
  content: "[";
}

.menu::after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li::before {
  content: "|";
  padding-right: 0.3em;
}

.content_head {
  background : rgba(33, 150, 243, .5);
  background: rgba(33, 150, 243, 0.2); /* fallback for old browsers */
  background: -webkit-linear-gradient(right, rgba(33, 150, 243, 0.3), rgba(33, 150, 243, 0.9));
  background: -moz-linear-gradient(right, rgba(33, 150, 243, 0.3), rgba(33, 150, 243, 0.9));
  background: -o-linear-gradient(right, rgba(33, 150, 243, 0.3), rgba(33, 150, 243, 0.9));
  background: linear-gradient(to left, rgba(33, 150, 243, 0.3), rgba(33, 150, 243, 0.9));
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;   
  z-index : 10;  
}

.logo {
  display: block;
  margin: auto auto;
  padding-top:1em;
  padding-bottom:1em;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -60px 0 0 -60px;
  background: #fff;
  background-image: url("./loading.png");
  background-size: auto 55px;
  background-repeat: no-repeat;
  background-position : center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 10px solid #19bee1;
}
.loading::after {
  content: '';
  background: transparent;
  width: 140%;
  height: 140%;
  position: absolute;
  border-radius: 100%;
  top: -20%;
  left: -20%;
  opacity: 0.7;
  box-shadow:  -4px -5px 3px -3px rgb(25, 190, 225);
  animation: rotate 1s infinite ease;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

#start{
	z-index : -1;
}

#start + div {
	/*background : white;*/
	z-index : 10;
}

.content_container {
  background: rgba(33, 150, 243, 0.2); /* fallback for old browsers */
  background: -webkit-linear-gradient(right, rgba(33, 150, 243, 0.3), rgba(33, 150, 243, 0.9));
  background: -moz-linear-gradient(right, rgba(33, 150, 243, 0.3), rgba(33, 150, 243, 0.9));
  background: -o-linear-gradient(right, rgba(33, 150, 243, 0.3), rgba(33, 150, 243, 0.9));
  background: linear-gradient(to left, rgba(33, 150, 243, 0.3), rgba(33, 150, 243, 0.9));
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
  height : 100%;
}

.main {
  background: white !important;
  margin-top: 2px;
}