<html>

    <head>
        <% include ../partials/head %>
    </head>

    <body>
        <h1>
            <%= title %>
        </h1>
        <form id="formImportFilms" name="importfilms" action="/import" method="post">

            <h3> JSON </h3>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" id="inputActorsList" type="text" name="actorsList">
                <label class="mdl-textfield__label" for="inputActorsList">Acteurs séparés par un ; (exemple: Bruce Willis; Jason Statham)</label>
            </div>
            <br/>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="btnSubmit" type="submit">Submit</button>
        </form>
    </body>

</html>