<html>

<head>
    <% include ./partials/head %>
</head>

<body>
    <div class="resultat">
        <h3>Predicted Row Labels</h3>
        <p>
            <%= title[0] %>
        </p>
        <br/><br/>
        <h3>Predicted Column Labels</h3>
        <p>
            <%= title[1] %>
        </p>
        <br/><br/>
        <h3>Représentation graphique</h3>
        <p>
            <%= title[2] %>
        </p>
    </div>
    <!-- <a href='./films' title='Liste des films'>Consulter les films</a> -->
</body>

</html>