body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.button-ajout {
  position:fixed !important;
  right:1em;
  bottom:4em;
  z-index: 2;
}
 .button-import{
    position:fixed !important;
    right:1em;
    bottom:1em;
    z-index: 2; 
 }
::selection {
  background: rgb(255,64,129) !important; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: rgb(255,64,129) !important; /* Gecko Browsers */
  color: white;
}
h4 {
	margin: 0 !important;
}
.mdl-dialog__title {
	padding: 0px 24px 0 !important;
}
.search-bar {
	width: 230px !important;
}

.mdl-dialog {
  z-index: 3;
}

.elTitulo {
  text-decoration: none;
  color: #4a4b4c;
}